@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }

	.stm-admin-wrap{
		width: 97% !important;
		max-width: 97% !important;
	}
	
	.stm-patch-notedismiss_patch{
		display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	}
	
.stm_demo_import_choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px; }
  .stm_demo_import_choices label {
    display: block;
    position: relative;
    width: 24%;
    margin: 0 0 50px;
    border-radius: 5px;
    cursor: default; }
    .stm_demo_import_choices label .inner {
      padding: 0 15px; }
    .stm_demo_import_choices label .stm_layout__label {
      display: block;
      font-size: 16px;
      text-align: center;
      padding-top: 30px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .stm_demo_import_choices label:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 48px;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      border-radius: 5px;
      visibility: hidden;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .stm_demo_import_choices label.active:after {
      background: rgba(255, 255, 255, 0.5); }
    .stm_demo_import_choices label.active .installed,
    .stm_demo_import_choices label.active .install, .stm_demo_import_choices label.active:after, .stm_demo_import_choices label:hover .installed,
    .stm_demo_import_choices label:hover .install, .stm_demo_import_choices label:hover:after {
      opacity: 1;
      visibility: visible; }
    .stm_demo_import_choices label.active .stm_layout__label, .stm_demo_import_choices label:hover .stm_layout__label {
      color: #0073aa; }
  .stm_demo_import_choices img {
    width: 100%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 5px; }
  .stm_demo_import_choices .stm_choice_radio_button {
    margin-top: 25px;
    text-align: center; }
  .stm_demo_import_choices .installed,
  .stm_demo_import_choices .install {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 30px;
    margin: -48px 0 0 -56px;
    background-color: #fff;
    color: #23282d;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 3px;
    z-index: 20;
    opacity: 0;
    cursor: pointer !important;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .stm_demo_import_choices .installed {
    background: #23b12a;
    color: #fff;
    cursor: default !important; }

.stm_install__demo_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 9999; }
  .stm_install__demo_popup.active {
    opacity: 1;
    visibility: visible; }
  .stm_install__demo_popup_close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; }
  .stm_install__demo_popup .inner {
    position: relative;
    width: 600px;
    height: auto;
    max-height: 85vh;
    padding: 5px 30px 5px;
    max-width: 100%;
    background: #fff;
    text-align: center;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 100; }
    .stm_install__demo_popup .inner .stm_install__demo_popup_close {
      background: transparent;
      width: 60px;
      height: 60px;
      left: auto;
      cursor: pointer; }
      .stm_install__demo_popup .inner .stm_install__demo_popup_close:before, .stm_install__demo_popup .inner .stm_install__demo_popup_close:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -10px;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 55px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .stm_install__demo_popup .inner .stm_install__demo_popup_close:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .stm_install__demo_popup .inner h4 {
      padding: 20px 0;
      margin: -5px -30px 15px;
      background-color: #0073aa;
      color: #fff;
      font-size: 18px; }
    .stm_install__demo_popup .inner .stm_content_status,
    .stm_install__demo_popup .inner .stm_single_plugin_info {
      padding: 15px 0;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-top: 1px solid #ccc; }
      .stm_install__demo_popup .inner .stm_content_status .installed .status, .stm_install__demo_popup .inner .stm_content_status.installed .status,
      .stm_install__demo_popup .inner .stm_single_plugin_info .installed .status,
      .stm_install__demo_popup .inner .stm_single_plugin_info.installed .status {
        color: #03d56b;
        font-weight: 400; }
      .stm_install__demo_popup .inner .stm_content_status .installing .status, .stm_install__demo_popup .inner .stm_content_status.installing .status,
      .stm_install__demo_popup .inner .stm_single_plugin_info .installing .status,
      .stm_install__demo_popup .inner .stm_single_plugin_info.installing .status {
        position: relative;
        padding-right: 20px;
        color: #444; }
        .stm_install__demo_popup .inner .stm_content_status .installing .status .loading-dots, .stm_install__demo_popup .inner .stm_content_status.installing .status .loading-dots,
        .stm_install__demo_popup .inner .stm_single_plugin_info .installing .status .loading-dots,
        .stm_install__demo_popup .inner .stm_single_plugin_info.installing .status .loading-dots {
          opacity: 1;
          visibility: visible; }
      .stm_install__demo_popup .inner .stm_content_status:first-child,
      .stm_install__demo_popup .inner .stm_single_plugin_info:first-child {
        border-top: 0; }
      .stm_install__demo_popup .inner .stm_content_status .image,
      .stm_install__demo_popup .inner .stm_single_plugin_info .image {
        max-width: 30px;
        margin-right: 15px; }
        .stm_install__demo_popup .inner .stm_content_status .image img,
        .stm_install__demo_popup .inner .stm_single_plugin_info .image img {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0); }
      .stm_install__demo_popup .inner .stm_content_status .status,
      .stm_install__demo_popup .inner .stm_single_plugin_info .status {
        color: #aaa;
        font-size: 13px;
        margin-left: auto;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
        .stm_install__demo_popup .inner .stm_content_status .status .loading-dots,
        .stm_install__demo_popup .inner .stm_single_plugin_info .status .loading-dots {
          position: absolute;
          right: 0;
          top: 3px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          box-shadow: none;
          background-color: #444;
          opacity: 0;
          visibility: hidden;
          -webkit-animation: scaleout 1.0s infinite ease-in-out;
                  animation: scaleout 1.0s infinite ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
    .stm_install__demo_popup .inner .stm_install_demo_to,
    .stm_install__demo_popup .inner .stm_install__demo_start {
      display: inline-block;
      margin: 0 15px 25px;
      padding: 14px 30px 16px;
      background: #03d56b;
      color: #fff !important;
      text-decoration: none !important;
      cursor: pointer; }
      .stm_install__demo_popup .inner .stm_install_demo_to.installing,
      .stm_install__demo_popup .inner .stm_install__demo_start.installing {
        background-color: #ccc;
        cursor: not-allowed; }
    .stm_install__demo_popup .inner .stm_install_demo_to {
      background-color: #0073aa; }

.stm_demo_import__notice {
  background-color: #fff;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  top: -16px; }
  .stm_demo_import__notice h4 {
    margin: 5px 0;
    font-size: 15px; }
    .stm_demo_import__notice h4 i {
      color: #23b12a;
      margin-right: 4px; }
  .stm_demo_import__notice p {
    margin: 0;
    font-size: 13px; }
    .stm_demo_import__notice p span {
      font-weight: 700;
      text-transform: uppercase; }

/*Grid CSS*/
.stm_install__demo_popup .inner .stm_content_status,
.stm_install__demo_popup .inner .stm_plugins_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .stm_install__demo_popup .inner .stm_content_status > div,
  .stm_install__demo_popup .inner .stm_plugins_status > div {
    display: block;
    width: 25%;
    border: 0;
    text-align: center; }
    .stm_install__demo_popup .inner .stm_content_status > div > *,
    .stm_install__demo_popup .inner .stm_plugins_status > div > * {
      width: 100%; }
    .stm_install__demo_popup .inner .stm_content_status > div .image,
    .stm_install__demo_popup .inner .stm_plugins_status > div .image {
      margin: 0 auto 15px; }
    .stm_install__demo_popup .inner .stm_content_status > div .status,
    .stm_install__demo_popup .inner .stm_plugins_status > div .status {
      display: inline; }

.stm_install__demo_popup .inner .stm_content_status {
  border: 0;
  margin-bottom: 50px; }
  .stm_install__demo_popup .inner .stm_content_status > * {
    width: 100% !important; }
    .stm_install__demo_popup .inner .stm_content_status > *.image {
      margin: 0 auto 15px; }
    .stm_install__demo_popup .inner .stm_content_status > *.status {
      display: inline;
      width: auto !important;
      margin: 0 auto; }
