$black: #000;
$black-near: #232628;
$white: #fff;

$orange-dk: #31a3c6;
$blue-lt: #ceac61;
$blue-dk: #002568;


$grey: #888;

$red: #ff2325;

// Service colors
$dark: #191d21;
$yellow: #ecbf24;
$blue: #22b7d2;




// Changeble colors
/*
$blue-lt: #184c4f;
$blue: #184c4f;

$orange-dk: #b6d15c;
$yellow: #b6d15c;

$black-near: #121e24;
$dark: #121e24;
*/