.form-wrapper .form-ul {
    margin: 0;
    padding: 0;
    font: 13px "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.form-wrapper .form-ul  li {
    list-style: none outside none;
    padding: 5px;
	 margin-bottom: 10px;
}

.form-wrapper p.form-desc {
  margin-bottom: 18px;
  margin-top: 10px;
}

.form-wrapper .form-ul  li .error-block {
    color: #dc3434;
    display: block;
    margin-bottom: 0;
    margin-top: 4px;
}
.form-wrapper .form-ul  li .help-block {
    color: #737373;
    display: block;
    margin-bottom: 0;
    margin-top: 5px;
}
.form-wrapper .form-ul li.li-captcha span {
    margin-left: 3px;
}
.form-wrapper .form-ul li.li-captcha span img {
    margin-top: 1px;
    vertical-align: middle;
}
.form-wrapper .form-ul  li label {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
    font-weight: bold;
    color: #333;
    text-align: left;
}
.form-wrapper .form-ul  li label label{
  font-weight: normal;
}
.form-wrapper .form-ul li input[type="file"] {
    border: 1px solid #BEBEBE;
    padding: 6px;
    background-image: none;
    color: #555;
    height: 34px;
    line-height: 1.428571429;
    outline:0;
}
.form-wrapper .form-ul li input[type="text"], .form-wrapper .form-ul li input[type="password"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #BEBEBE;
    border-radius: 0px;
    padding: 7px;
    background-image: none;
    color: #555;
    line-height: 1.428571429;
    outline:0;
    -webkit-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 30%;
}
.form-wrapper .form-ul  li input.medium[type="text"]{
  width:50%; 
}
.form-wrapper .form-ul  li input.large[type="text"]{
  width:80%; 
}

.form-wrapper .form-ul li .address-wrapper .address-line{
    margin-bottom: 8px;
}
.form-wrapper .form-ul li .address-wrapper input.street {
    width: 63.3%;
}
.form-wrapper .form-ul li .address-wrapper input.city {
    width: 31%;
}
.form-wrapper .form-ul li .address-wrapper input.state {
    margin-left: 10px;
    width: 31%;
}
.form-wrapper .form-ul li .address-wrapper input.zip {
    width: 31%;
}
.form-wrapper .form-ul li .address-wrapper select.country {
    margin-left: 10px;
    width: 31%;
}

.form-wrapper .form-ul  li label abbr {
    color: #f00;
    font-size: 10px;
    margin-left: 2px;
}
.form-wrapper .form-ul li .radio-wrapper label, .form-wrapper .form-ul li .checkbox-wrapper label, .form-wrapper .form-ul li .price-wrapper label {
    font-weight: normal;
}

.form-wrapper .form-ul li .radio-wrapper label input, .form-wrapper .form-ul li .checkbox-wrapper label input, .form-wrapper .form-ul li .price-wrapper label input{
   margin-left:3px;
}

.form-wrapper .form-ul li .date-wrapper input.day, .form-wrapper .form-ul li .date-wrapper input.month, .form-wrapper .form-ul li .date-wrapper input.year {
    width: 75px;
}

.form-wrapper .form-ul li .time-wrapper input.hour, .form-wrapper .form-ul li .time-wrapper input.minute {
    width: 75px;
}

.form-wrapper .form-ul li .time-wrapper select.ampm { min-width:60px; width:60px;}


.form-wrapper .form-ul li select {
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #BEBEBE;
	min-width:150px;
	background-image: none;
    color: #555;
    padding: 7px;
    outline:0;
    -webkit-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.form-wrapper .form-ul li textarea {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #BEBEBE;
    border-radius: 0px;
    padding: 7px;
    background-image: none;
    height: 120px;
    width: 50%;
     outline:0;
    -webkit-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.form-wrapper .form-ul li textarea.medium{
   width: 70%;	
}
.form-wrapper .form-ul li textarea.large{
   width: 85%;	
}
.form-wrapper .form-ul li.li-submit {
    margin-top: 30px;
    text-align: center;
}
.form-wrapper .form-ul li.li-submit input[type="submit"] {
      background: #4B99AD;
      padding: 8px 15px 8px 15px;
      border: 0;
      color: #FFF;
      border-radius: 0px;
      min-width: 60px;
      padding: 7.5px 12px;
}
.form-wrapper .form-ul li.li-submit input[type="submit"]:hover {
    background-color: #4691A4;
}

.form-wrapper .form-ul li.li-submit input[type="reset"] {
      background: #4B99AD;
      padding: 8px 15px 8px 15px;
      border: 0;
      color: #FFF;
      border-radius: 0px;
      min-width: 60px;
      padding: 7.5px 12px;
}
.form-wrapper .form-ul li.li-submit input[type="reset"]:hover {
   background-color: #4691A4;
}

.form-wrapper .form-ul li input[type="text"]:focus, .form-wrapper .form-ul li input[type="password"]:focus, .form-wrapper .form-ul li textarea:focus, .form-wrapper .form-ul li select:focus {
  box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0;
}

li.xmessage {
color: #4F8A10;
background-color: #DFF2BF;
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.form-wrapper .form-ul  li.xloading{
  padding: 0px;
  margin-bottom: 0px;
}
.xspinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.xspinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.xspinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.xspinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

html[dir="rtl"] .form-wrapper .form-ul  li label {text-align: right !important;}
html[dir="rtl"] .form-wrapper .form-ul li.li-submit {text-align: right !important;}
html[dir="rtl"] .form-wrapper .form-ul  li { text-align: right;}
html[dir="rtl"] .form-wrapper p.form-desc { text-align: right;}