/*Default*/
$magazine_black: #333333;
$magazine_black_22: #222222;
$magazine_black_bg: #131619;
$magazine_black_transparent: rgba(41, 55, 66, 0.7);
$magazine_black_no_transparent: rgb(41, 55, 66);
$magazine_blue: #3c98ff;
$magazine_green: #18ca3e;
$magazine_green_dark: #169f36;
$magazine_red: #ff1b1b;
$magazine_gray: #b6b6b7;
$white: #fff;
$magazine_gray-cc: #cccccc;
$magazine_gray-ee: #eeeeee;
$magazine-gray-88: #888888;
$magazine-gray-db: #dbdbdb;
$magazine-gray-e7: #e7e7e7;
$magazine-dark: #293742;