$blue-lt: #184c4f;
$blue: #184c4f;

$orange-dk: #b6d15c;
$yellow: #b6d15c;

$black-near: #121e24;
$dark: #121e24;

$white: #ffffff;

$orange: #ffb129;
$gray-88: #888888;
$blue-dark-d-t: #3350b8;

.stm-orange {
    color: $orange;
}