/*Default*/
$listing_green_dk: #153e4d;
$listing_green: #1bc744;
$listing_green_dark: #169f36;


/*Red*/
//$listing_green_dk: #333;
//$listing_green: #e41515;

/*Orange*/
//$listing_green_dk: #202a30;
//$listing_green: #58ba3a;

/*Light blue*/
//$listing_green_dk: #1d2428;
//$listing_green: #2ea6b8;

/*Blue*/
//$listing_green_dk: #121e24;
//$listing_green: #7c9fda;


$listing_grey_dk: #5b6771;

$listing_blue_lt: #4e90cc;

$listing_blue_dk: #11323e;

$white: #fff;