@import '../colors';

.stm-car-leasing-wrap {
    display: block;
    text-align: center;

    h2{
        color: $white;
        font-size: 48px;
        margin-bottom: 25px;
    }

    .price_wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;


        .left {
            .price {
                font-size: 48px;
                line-height: 50px;
                font-weight: 700;
                color: $white;
            }
        }

        .right {
            padding: 8px 0 0 10px;
            font-size: 18px;
            color: $white;
            font-weight: 500;
        }
    }

    .subtitle {
        display: block;
        font-size: 24px;
        color: $white;
        font-weight: 500;
        padding-top: 15px;
        text-align: center;
    }

    .btn-wrap{
        margin-top: 45px;

        .c-l-test-drive {
            display: inline-block;
            overflow: hidden;
            position: relative;
            border-radius: 4px;
            background-color: $blue-dark-d-t;
            padding: 16px 22px 16px 14px !important;
            color: $white;
            font-weight: 700 !important;
            text-decoration: none;
            font-size: 14px;
            z-index: 2;

            i{
                font-size: 18px !important;
                margin-right: 10px !important;
                vertical-align: middle;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 150%;
                height: 100%;
                z-index: -1;
                background: $orange;
                -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
                transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
                -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
                -webkit-transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
                transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
                transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
                transition: transform 0.3s, opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
            }
            &:hover {
                color: $white;
                opacity: 1;

                i {
                    color: $white !important;
                }
                &:before {
                    opacity: 1;
                    -webkit-transform: rotate3d(0, 0, 1, 0deg);
                    transform: rotate3d(0, 0, 1, 0deg);
                    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
                    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
                }
            }
        }
    }
}

.leasing-modal {
    .wpcf7 {
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            p {
                display: block;
                width: 50%;
            }
        }
    }
}