$dt-33-50opacity: rgba(51, 51, 51, 0.5);
$white: #ffffff;
$white-hover: #f9f9f9;
$orange: #ffb129;
$orange_dark: #ffb100;
$blue: #4971ff;
$blue-dark: #3350b8;
$blue-dark-2: #334175;
$red: #ff0000;
$black: #000000;
$black-near: #232628;
$black-33: #333333;
$black-list-bg: #1f222a;
$gray-item-bg: #34383b;
$gray-item-bg-transp: rgba(55, 60, 63, 0.7);
$gray-bg: #373c3f;
$gray-88: #888888;
$gray-aa: #aaaaaa;
$gray-dd: #dddddd;
$gray-ed: #ededed;