form .panel-heading{
	padding: 12px 12px;
}
div.panel-body-div{
	margin-bottom: 15px;
}
/*div.panel-body-div input[type="checkbox"]{
	margin: 5px 5px -1px 20px
}*/
.ticketsystem input[type="radio"], .ticketsystem .panel-body input[type="checkbox"]{
	margin: 5px 5px -2px -15px
}
.ticketsystem .panel-body .panel-body input[type="checkbox"]{
	margin: 2px 5px 0px 20px
}
.ticketsystem .panel-body div .margin-none{
	margin: 0px;
}
.add-margin{
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
div.panel-body-div label{
	font-weight: normal;
}
div.panel-body-div .control-label:not(span):before{
	content : ' ';
}
.adjust-margin{
	margin-top: -15px;
}
.agent-profile{
	padding: 10px 5px 0px 15px;
	transition-timing-function: ease-in-out;
}
.agent-profile .loader{
	position: absolute;
  	width: 100%;
}
.agent-profile span{
	font-weight: bold;
}
.agent-profile .email,.agent-profile .name{
  margin: 5px 0px 0px 0px;
}

.table thead > tr > td, .table tbody > tr > td{
	vertical-align: top;
}
.timings .time{
    color: #737373;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 0;
    text-align: left;
    width: 50px;
    position: relative;
}
.timings .time .border{
	border-bottom: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    width: 60%;
}
.timings .time.odd{
	display: none;
}

.business-days{
	height: 100%;
	width: 20%;
	min-width: 100px;
	float: left;
	margin-left: 10px;
	position: relative;
}
.business-days.closed{
	background: #eaeaea;
	/*border: 1px solid #dddddd;*/
	border-radius: 4px;
	cursor: pointer;
}
.business-days .resize-drag{
	background: none repeat scroll 0 0 #1e91cf;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    min-height: 25px;
    height: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
}
.business-days .slot{
	line-height: 30px;
}
.business-days-close{
    display: none;
	color: #fff;
    font-size: 10px;
    position: absolute;
    right: 5px;
    z-index: 1;
}
.business-days-close:hover{
	cursor: pointer;
	color: #000;
}
.handle{
    display: none;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}
.top{
    top: 0;
}
.bottom{
    bottom: 0;
}
.business-days .resize-drag:hover .handle,.business-days .resize-drag:hover .business-days-close{
	display: block;
}

#tab-businessholidays .table > tbody > tr > td{
	padding: 16px 8px 8px;
}
#tab-businessholidays .table .input-group, #tab-businessholidays .table .input-group-btn{
	width: auto;
	margin-bottom: 2px;
}
/*#tab-businessholidays .table .input-group, */
#tab-businessholidays .table .input-group-btn{
	display: inline-block;
}
#tab-businessholidays .table .input-group .form-control{
	width: 80%;
}
#tab-businessholidays .table td{
	border: 0px;
	border-bottom: 1px solid #dddddd;
}
#tab-businessholidays .table .trClass td{
	border: none;
}
.image-logo{
  width: 50px;
  height: 50px;
      -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
  /*border: 1px solid #8fbb6c;*/
}
.create-logo{
	display: inline-block;
	width: 48px;
	height: 48px;
	padding: 13px;
	line-height: 18px;
	border-radius: 24px;
	font-size: 25px;
	margin-right: 8px;
	text-transform: uppercase;
	cursor: pointer;
	outline: 0px;
}
.create-logo.blue{
	border: 1px solid #B4E8FC;
	background: #B4E8FC;
	background-image: linear-gradient(to left,#FFFFFF,#B4E8FC);
}
.create-logo.green{
	border: 1px solid #3CD862;
	background: #3CD862;
	background-image: linear-gradient(to left,#FFFFFF,#3CD862);
}
.create-logo.red{
	border: 1px solid #C36D6D;
	background: #C36D6D;
	background-image: linear-gradient(to left,#FFFFFF,#C36D6D);
}
td.text-right .dropdown-menu{
	left: initial;
	right: 0px;
}
#ts-column-left{
  padding-right: 0px;
  padding-left: 10px;
  margin-top: 18px;
}
.manage-padding{
  padding-left: 0px;
}
.ticketsystem-input-group{
	max-width:200px; 
	display:inline-table;
}
.selection-html{
  width: 75%;
  display: inline-block;
  vertical-align: top;
}
.ticketsystem-modal{
	left: auto;
	bottom: auto;
}
.button-margin{
	margin-right: 5px;
	margin-bottom: 5px;
}
.ticketsystem-input-group .input-group-btn button{
	min-width: 85px;
}
.dropdown-menu a, .cursor-pointer{
	cursor: pointer;
}
.dropdown-menu a.active{
	z-index: 2;
	color: #ffffff;
	background-color: #1e91cf;
	border-color: #1e91cf;
}
.ticketsystem-message{
	position: fixed;
	right: 0px;
	top: 25px;
	z-index: 9999;
}
textarea{
	min-height: 100px;
}
.condition-select-html{
	text-align: right;
}
#column-left.active + #content .condition-select-html{
	text-align: left;
}
.condition-select-html select, .condition-select-html input,.condition-select-html .btn-group.bootstrap-select, .condition-select-html .input-group, .event-select-html select, .event-select-html .btn-group.bootstrap-select, .event-select-html .input-group{
	display: inline-table;
	width: 62%;
}
.condition-select-html>select:first-child{
	margin-right: 5px;
	width: 35%;
}
.event-select-html>select:first-child, .event-select-html>.btn-group.bootstrap-select{
	margin-right: 5px;
	width: 45%;
}

.form-horizontal .ticketFilter .control-label, .ticketFilter .form-horizontal .control-label{
	text-align: left;
}

.active.asc:after {
  content: " \f107";
  font-family: FontAwesome;
  font-size: 14px;
}
.active.desc:after {
  content: " \f106";
  font-family: FontAwesome;
  font-size: 14px;
}
.ticketsView .panel-heading i{
	font-size: inherit;
}
.ticketsView .panel-body {
  padding: 0px 15px 0px 15px;
}
.ticketsView div.ticket-right-clm{
  padding: 12px 0px 15px 15px;
  border-left: 1px solid #e8e8e8;
}
.ticketsView div.ticket-left-clm{
  padding: 5px 12px 10px 0px;
}
.action-buttons{
  padding: 5px 5px 3px 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.ticket-messages{
	padding: 15px 0px;
	/*background: #EDEDED;*/
}
.ticket-messages .message{
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  margin-left: 55px;
  padding: 8px;
  min-height: 55px;
  word-break: break-all;
  position: relative;
}
.ticket-messages .message:hover{
  border-color: #ccc;
}
form .message{
  margin-left: 55px;
}
.ticket-messages .seperator{
  border-bottom: 1px dotted #ccc;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ticket-create{

}
.action-buttons .btn-sm{
	margin-bottom: 3px;
}
span.fa{
  font-size: 12px;
  padding: 2px;
  background: #666666;
  color: #fff;
}
.text-warning span.fa{
  background: #f38733;
}
.text-success span.fa{
  background: #8fbb6c;
}
.text-primary span.fa{
  background: #1e91cf;
}
.ticketAlert{
  position: fixed;
  top: 55px;
  right: 20px;
}
.ticket-left-clm input[type="checkbox"]{
  margin: 5px 5px -2px 0px;
}
.ticketFilter .form-group div label{
  font-weight: normal;	
}
.note-div label{
	display: inline;
}
.form-horizontal .message .form-group{
	margin: 0px 0px 15px 0px;
}
.ticket-messages .img-thumbnail,form .img-thumbnail{
	position: relative;
	cursor: pointer;
	vertical-align: top;
	word-wrap: break-word;
}
.ticket-messages .img-thumbnail span.box,form .img-thumbnail span.box{
	width: 50px;
	height: 50px;
	vertical-align: top;
	display: block;
	text-align: center;
	line-height: 45px;
}
.ticket-messages .img-thumbnail i, form .img-thumbnail i{
	background: none;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
.image-hover-a{
	position: absolute;
	width: 51px;
	height: 56px;
	top: 1px;
	left: 3px;
	padding: 3px;
	background: #000;
	color: #fff !important;
	background: rgba(0,0,0,.7);
}
.message-margin-manage{
	margin-left: 55px;
	word-break: break-all;
	margin-bottom: 5px;
}
.message-margin-manage div{
	margin-bottom: 5px;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 5px;
}
.div-ticket-pagination{
	margin-top: -15px;
	margin-left: 55px;
	margin-bottom: 15px;
  	text-align: center;
  	position: relative;
}
.div-ticket-pagination span{
	display: block;
	width: 100%;
	height: 2px;
	background: #8fbb6c;
	z-index: 1;
	margin-top: -18px;
	background: rgba(143, 187, 108, .6);
}
.thread-data{
	position: relative;
}
.ticket-thread-actions{
  position: absolute;
  right: 5px;
  top: 5px;
}
.internal-div{
  background: rgb(252, 252, 222);
  height: 100%;
}
#ticketsResult tbody td .col-sm-3,#ticketsResult tbody td .col-sm-12{
	padding: 0px;
}
#ticketsResult .col-sm-9{
	padding-right: 0px;
}
#column-left.active + #content #ticketsResult .col-sm-9{
	padding: 0px;
}
#column-left.active + #content form.form-inline.text-right select{
	max-width: 100px;
}
#ticketsResult table tbody button{
	opacity: 1;
	margin-bottom: 2px;
}
span.ticket-list-info {
  display: inline-block;
  background: #fff;
  padding: 5px;
  border-radius: 35%;
  font-weight: bold;
  border: 1px solid #ccc;
}
span.ticket-list-info.red {
  background: red;
  color: #fff;
}
#ticketsResult td h4{
	margin-bottom: 2px;
}
#ticketsResult .ticketsLoader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 9999;
  text-align: center;
  padding: 25%;
  left: 0px;
  top: 0px;
}
.ticket-view-head-left{
  max-width: 425px;
  height: 80px;
  width: 100%;
}

.tile .tile-heading, .tile .tile-footer{
  padding: 2px 8px;
}
.tile .tile-body{
  padding: 6px;
}
.sla-info{
  position: absolute;
  right: 0px;
  overflow: auto;
  z-index: 99999;
  top: -5px;
}
.td-sla-no-voilated{
	background: rgba(161, 255, 162, 0.48);
}
.td-sla-voilated{
	background: rgba(250, 173, 173, 0.48);
}
@media (min-width:768px) {
	.form-horizontal .ticketFilter{
		padding: 0;
	}
}
/*.condition-select-html input{*/
	/*width: 63%;*/
/*}*/

@media (max-width: 767px) {
	.clear-pull{
		float: none !important;
		margin-left: 55px;
	}
	form.form-inline.text-right{
		text-align: left;
		margin-top: 15px;
	}
	.ticketsView div.ticket-right-clm{
		border-color: #fff;
		padding: 0px 15px 15px 0px;
	}
	.selection-html{
	  width: 100%;
	}
	input[type=text],input[type=number],select{
	  min-width: 60px;
	}
	.bootstrap-select.form-control:not([class*=col-]){
		/*width: 62%;*/
	}
}
/*.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}*/
