$black: #000;
$black-near: #0e1315;
$white: #fff;

$orange-dk: #df1d1d;
$blue-lt: #df1d1d;

$darker: #b01b1c;
$darker_lt: #d11717;

$grey: #888;

$red: #ff2325;

// Service colors
$dark: #191d21;
$yellow: #ecbf24;
$blue: #22b7d2;